<template>
    <div class="hello">
        <el-select v-model="citySelect" placeholder="Select">
            <el-option
                    v-for="item in cityList"
                    :key="item.name"
                    :label="item.name"
                    :value="item.id">
            </el-option>
        </el-select>

        <div class="map-box">
            <yandex-map
                    :coords="coords"
                    :zoom="13"
                    :controls="['zoomControl','typeSelector']"
            >

                <ymap-marker
                        :coords="[itemPoint.lat,itemPoint.lon]"
                        :marker-id="itemPoint.id"
                        :hint-content="itemPoint.name"
                        v-for="itemPoint in point"
                        :key="'point'+itemPoint.id"
                        :balloon-template="balloonTemplate(itemPoint)"
                />

            </yandex-map>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'HelloWorld',
        data() {
            return {
                coords: [
                    61.001503, 69.030098
                ],
                point: [],
                cityList :[
                    {id:1, name: "Белоярский",coord:[63.716043, 66.667588]},
                    {id:2, name: "Белый Яр",coord:[61.260720, 73.250303]},
                    {id:3, name: "Берёзово",coord:[63.935222, 65.053882]},
                    {id:4, name: "Ваховск",coord:[60.953759, 78.783921]},
                    {id:5, name: "Горноправдинск",coord:[60.059530, 69.925131]},
                    {id:6, name: "Излучинск",coord:[60.953021, 76.891171]},
                    {id:7, name: "Когалым",coord:[62.264069, 74.482761]},
                    {id:8, name: "Лангепас",coord:[61.253701, 75.180725]},
                    {id:9, name: "Луговской",coord:[61.060940, 68.505209]},
                    {id:10, name: "Лянтор",coord:[61.624520, 72.147941]},
                    {id:11, name: "Мегион",coord:[61.032890, 76.102612]},
                    {id:12, name: "Междуреченский",coord:[59.594134, 65.902493]},
                    {id:13, name: "Нефтеюганск",coord:[61.088212, 72.616331]},
                    {id:14, name: "Нижневартовск",coord:[60.938545, 76.558902]},
                    {id:15, name: "Новоаганск",coord:[61.947091, 76.662505]},
                    {id:16, name: "Нягань",coord:[62.145759, 65.433654]},
                    {id:17, name: "Октябрьское",coord:[62.456746, 66.042181]},
                    {id:18, name: "Пионерский",coord:[57.104982, 63.750328]},
                    {id:19, name: "Пойковский",coord:[60.995797, 71.897278]},
                    {id:20, name: "Покачи",coord:[61.741648, 75.599753]},
                    {id:21, name: "Приобье",coord:[62.549281, 65.648198]},
                    {id:22, name: "Пыть-Ях",coord:[60.758172, 72.837272]},
                    {id:23, name: "Радужный",coord:[62.134265, 77.458439]},
                    {id:24, name: "Русскинская",coord:[62.155054, 73.602757]},
                    {id:25, name: "Салым",coord:[60.074460, 71.463388]},
                    {id:26, name: "Селиярово",coord:[61.294673, 70.352190]},
                    {id:27, name: "Советский",coord:[61.370766, 63.566793]},
                    {id:28, name: "Солнечный",coord:[61.278657, 73.185826]},
                    {id:29, name: "Сургут",coord:[61.254035, 73.396221]},
                    {id:30, name: "Талинка",coord:[61.549762, 66.452505]},
                    {id:31, name: "Унъюган",coord:[61.947696, 64.932735]},
                    {id:32, name: "Урай",coord:[60.128951, 64.803216]},
                    {id:33, name: "Федоровский",coord:[61.609632, 73.719615]},
                    {id:34, name: "Ханты-Мансийск",coord:[61.003180, 69.018902]},
                    {id:35, name: "Югорск",coord:[61.314917, 63.331964]},
                    {id:36, name: "Ярки",coord:[60.965281, 69.513002]},
                ],
                citySelect:null,
            }
        },

        props: {
            msg: String,

        },
        created() {
            axios.get('https://vi.admhmao.ru/api/data-bus/mask-geodata/?action=getMaskVendors')
                .then((response) => {
                    console.log('Ответ на запрос', response.data.result);
                    this.point = response.data.result;
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        methods:{
            balloonTemplate(point){
                let template = '<div class="name">'+point.name+'</div>' +
                    '<div class="address">'+point.address+'</div>' +
                    '<div class="price">Минимальная стоимость: '+point.price_min+'</div>' +
                    '<div class="count">Количество: '+point.count+'</div>';

                return template;
            }
        },
        watch: {
            citySelect: function (val, oldVal) {
                console.log('новое значение: %s, старое значение: %s', val, oldVal);
                let point = this.cityList.find(item => item.id==val);
                console.log(point);
                this.coords = point.coord;
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .map-box {
        width: 100%;
        height: 600px;
    }

    .ymap-container {
        width: 100%;
        height: 100%;
    }
</style>

<style>
    .name{
        font-size: 20px;
        font-weight: bold;
    }
    .address{
        margin-top: 5px;
        color: #848484;
        margin-bottom: 5px;
    }
    .price{

    }
    .count{

    }
</style>
